[Unit]
Description=BiliBili Live Get Experience
Requires=network.target
After=network.target

[Service]
WorkingDirectory=/opt/bilibili-live/
ExecStart=/opt/bilibili-live/bilibili-live.py
Restart=always

[Install]
WantedBy=multi-user.target
